#w{
    width: 100%;
    border-radius: 5%;
}

#t{
    width: 50%;
    border-radius: 5%;
}

#i{
    width: 71%;
    border-radius: 5%;
}

#s{
    width: 30%;
    padding-bottom: 87
}

#d{
    width: 30%;
}

#f{
    width: 30%;
}

#g{
    width: 30%;
}

#h{
    width: 30%;
}

#j{
    width: 30%;
    
}

#e{
    font-size: 40;
    text-align: center;
}

#y:visited{
    color: black;
}

#y{
    font-size: 23;
    text-decoration: none;
}

#u{
    font-size: 20;
}

#o{
    font-size: 23;
}

#p{
    font-size: 20;
}

#a{
    font-size: 23;
    text-align: center;
}
